header.hero-unit#overview
  p.pull-right.btn-group
    a.btn.btn-large(href='/#/search')
      i.icon-search 
      |  Search for Locations
    a.btn.btn-large.btn-primary(href='/#/browse/map')
      i.icon-map-marker.icon-white
      |  Browse Map
  h1 GeoDb
  p A simple database and tools for storing UK Grid References.
